@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
:root{
--Very-Dark-Blue-clr: hsl(235, 21%, 11%);
--Very-Dark-Desaturated-Blue-clr: hsl(235, 24%, 19%);
--Light-Grayish-Blue-clr: hsl(234, 39%, 85%);
--Light-Grayish-Blue-hover-clr: hsl(236, 33%, 92%);
--Dark-Grayish-Blue-clr: hsl(234, 11%, 52%);
--Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
--Veryy-Dark-Grayish-Blue: hsl(237, 14%, 26%);

font-family: 'Josefin Sans', sans-serif;

}
*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(90deg, rgb(64, 160, 250) 0%, rgb(164, 124, 239) 100%);
    background-repeat: no-repeat;
    background-size: 100% 300px;
    background-color:var(--Very-Dark-Blue-clr);

    color: #fff;
    font-size: 18px;
    

}